@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #6366f1;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(99 102 241 / 0));
  --tw-gradient-to: #3730a3;
}
